<div id="left-bar" class="col-2 d-flex flex-column h-100">
  {{!-- 上方元件 --}}
  <div class="nav-item-wrapper p-0" style="max-width: 210px;">
    <a href="/">
      <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M29.2746 23.8533C29.2746 23.8533 23.6744 32.9337 19.0831 32.9337C11.0522 32.9337 18.5364 15.635 24.3936 15.635C28.4806 15.635 29.2746 23.8533 29.2746 23.8533Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M35.9293 35.273C34.334 36.9706 32.3649 38.2733 30.1784 39.0777C27.9919 39.8821 25.648 40.1661 23.3326 39.9072C21.0172 39.6483 18.794 38.8536 16.8392 37.5861C14.8845 36.3186 13.2519 34.6133 12.071 32.6052C13.3987 34.4109 15.6504 35.6146 18.8524 35.6146C26.7401 35.6146 31.2175 29.4851 31.2175 29.4851C31.2175 29.4851 31.6048 34.3295 35.9196 35.273H35.9293Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M38.2916 18.059C39.4721 20.3146 40.0585 22.8338 39.9953 25.3789C39.9321 27.9239 39.2214 30.4109 37.9304 32.6052C36.9092 32.0324 36.1543 31.0813 35.8283 29.9569L34.1167 24.8294L38.2916 18.059Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M25.0024 10.013C28.7639 10.0105 32.3885 11.4241 35.1548 13.9725L32.3141 18.5566C31.2858 15.8823 29.1968 13.2047 25.1325 13.2047C16.8088 13.2047 10.6392 22.2916 10.6392 27.9884C10.6374 28.7252 10.7315 29.459 10.9191 30.1715C10.0867 27.9044 9.81404 25.4699 10.1243 23.0749C10.4345 20.6798 11.3185 18.3951 12.7011 16.4148C14.0837 14.4345 15.924 12.8173 18.0656 11.7004C20.2073 10.5836 22.5869 10.0003 25.0024 10V10.013Z"
          fill="#FF6600" />
      </svg>
    </a>
    <div class="nav-item-wrapper d-flex mt-5">
      <a class="text-decoration-none" href="">
        <svg class="left-bar-icon" width="24" height="22" viewBox="0 0 24 22" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.58 6.34998L12.475 0.896978C12.178 0.736978 11.821 0.736978 11.525 0.896978L1.42502 6.34998C0.939018 6.61398 0.758018 7.21998 1.02002 7.70598C1.20002 8.04098 1.54502 8.23098 1.90002 8.23098C2.06002 8.23098 2.22402 8.19298 2.37502 8.11098L3.10902 7.71498L4.69902 18.965C4.91502 20.179 6.00902 21.027 7.35902 21.027H16.641C17.991 21.027 19.085 20.179 19.303 18.939L20.891 7.71398L21.628 8.11198C22.113 8.37498 22.72 8.19398 22.982 7.70798C23.245 7.22198 23.062 6.61498 22.578 6.35298L22.58 6.34998ZM12 14.435C10.205 14.435 8.75002 12.98 8.75002 11.185C8.75002 9.38998 10.205 7.93498 12 7.93498C13.795 7.93498 15.25 9.38998 15.25 11.185C15.25 12.98 13.795 14.435 12 14.435Z"
            fill="#1C1C1C" />
        </svg>
        <span class="left-bar-title ml-3">首頁</span>
      </a>
    </div>
    <div class="nav-item-wrapper d-flex mt-4">
      <a class="text-decoration-none" href="">
        <svg class="left-bar-icon" id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" width="24"
          height="22" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m450.201 407.453c-1.505-.977-12.832-8.912-24.174-32.917-20.829-44.082-25.201-106.18-25.201-150.511 0-.193-.004-.384-.011-.576-.227-58.589-35.31-109.095-85.514-131.756v-34.657c0-31.45-25.544-57.036-56.942-57.036h-4.719c-31.398 0-56.942 25.586-56.942 57.036v34.655c-50.372 22.734-85.525 73.498-85.525 132.334 0 44.331-4.372 106.428-25.201 150.511-11.341 24.004-22.668 31.939-24.174 32.917-6.342 2.935-9.469 9.715-8.01 16.586 1.473 6.939 7.959 11.723 15.042 11.723h109.947c.614 42.141 35.008 76.238 77.223 76.238s76.609-34.097 77.223-76.238h109.947c7.082 0 13.569-4.784 15.042-11.723 1.457-6.871-1.669-13.652-8.011-16.586zm-223.502-350.417c0-14.881 12.086-26.987 26.942-26.987h4.719c14.856 0 26.942 12.106 26.942 26.987v24.917c-9.468-1.957-19.269-2.987-29.306-2.987-10.034 0-19.832 1.029-29.296 2.984v-24.914zm29.301 424.915c-25.673 0-46.614-20.617-47.223-46.188h94.445c-.608 25.57-21.549 46.188-47.222 46.188zm60.4-76.239c-.003 0-213.385 0-213.385 0 2.595-4.044 5.236-8.623 7.861-13.798 20.104-39.643 30.298-96.129 30.298-167.889 0-63.417 51.509-115.01 114.821-115.01s114.821 51.593 114.821 115.06c0 .185.003.369.01.553.057 71.472 10.25 127.755 30.298 167.286 2.625 5.176 5.267 9.754 7.861 13.798z" />
        </svg>
        <span class="left-bar-title ml-3">通知</span>
      </a>
    </div>
    <div class="nav-item-wrapper d-flex mt-4">
      <a class="text-decoration-none" href="/chat">
        <svg class="left-bar-icon {{#ifCond userLogin.channel  'public'}}item-active{{/ifCond}}" id="Capa_1"
          enable-background="new 0 0 479.058 479.058" viewBox="0 0 479.058 479.058" width="24" height="22"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z" />
        </svg>
        <span class="left-bar-title ml-3 {{#ifCond userLogin.channel  'public'}}item-active{{/ifCond}}">公開聊天室</span>
      </a>
    </div>
    <div class="nav-item-wrapper d-flex mt-4">
      <a onclick="refrash()" class="text-decoration-none" href="#">
        <span class="" id="private-badge" style="border-radius:50%;"></span>
        <svg class="left-bar-icon {{#ifCond userLogin.channel  'private'}}item-active{{/ifCond}}" id="Capa_1"
          enable-background="new 0 0 479.058 479.058" viewBox="0 0 479.058 479.058" width="24" height="22"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z" />
        </svg>
        <span class="left-bar-title ml-3 {{#ifCond userLogin.channel  'private'}}item-active{{/ifCond}}">私人訊息</span>
      </a>
    </div>
    <div class="nav-item-wrapper d-flex mt-4">
      <a class="text-decoration-none" href="">
        <svg class="left-bar-icon" width="24" height="22" viewBox="0 0 18 21" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.00003 10.816C10.355 10.816 11.872 10.666 12.84 9.56001C13.654 8.63001 13.918 7.19201 13.646 5.16801C13.266 2.34301 11.529 0.656006 9.00003 0.656006C6.47103 0.656006 4.73403 2.34301 4.35403 5.17001C4.08203 7.19201 4.34603 8.63001 5.16003 9.56001C6.12803 10.667 7.64503 10.816 9.00003 10.816ZM5.84003 5.36801C6.00203 4.16801 6.62703 2.15601 9.00003 2.15601C11.373 2.15601 11.998 4.16901 12.16 5.36801C12.367 6.91801 12.217 7.99501 11.71 8.57301C11.255 9.09301 10.444 9.31601 9.00003 9.31601C7.55603 9.31601 6.74503 9.09301 6.29003 8.57301C5.78303 7.99501 5.63303 6.91701 5.84003 5.36801ZM17.28 18.236C16.403 14.71 12.998 12.246 9.00003 12.246C5.00203 12.246 1.59703 14.71 0.720027 18.236C0.548027 18.928 0.692027 19.636 1.11503 20.176C1.52303 20.696 2.15503 20.996 2.84803 20.996H15.152C15.845 20.996 16.477 20.696 16.885 20.176C17.309 19.636 17.452 18.929 17.279 18.236H17.28ZM15.704 19.252C15.578 19.412 15.388 19.498 15.152 19.498H2.84803C2.61303 19.498 2.42203 19.413 2.29603 19.252C2.15903 19.078 2.11603 18.84 2.17603 18.598C2.88603 15.743 5.69303 13.748 9.00003 13.748C12.307 13.748 15.114 15.742 15.824 18.598C15.884 18.84 15.841 19.078 15.704 19.252Z"
            fill="black" />
        </svg>
        <span class="left-bar-title ml-3">個人資料</span>
      </a>
    </div>
    <div class="nav-item-wrapper d-flex mt-4">
      <a class="text-decoration-none" href="">
        <svg class="left-bar-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 8.20996C9.90996 8.20996 8.20996 9.90996 8.20996 12C8.20996 14.09 9.90996 15.79 12 15.79C14.09 15.79 15.79 14.09 15.79 12C15.79 9.90996 14.09 8.20996 12 8.20996ZM12 14.29C10.738 14.29 9.70996 13.264 9.70996 12C9.70996 10.736 10.74 9.70996 12 9.70996C13.26 9.70996 14.29 10.736 14.29 12C14.29 13.264 13.262 14.29 12 14.29Z"
            fill="black" />
          <path
            d="M12.36 22.375H11.638C10.455 22.375 9.48405 21.487 9.37605 20.311L9.36205 20.164C9.33705 19.877 9.15505 19.631 8.89005 19.52C8.60405 19.4 8.30805 19.455 8.09205 19.635L7.97605 19.732C7.10805 20.457 5.72305 20.395 4.91605 19.592L4.40605 19.082C3.57005 18.242 3.51005 16.928 4.26605 16.022L4.36405 15.904C4.55005 15.682 4.59405 15.381 4.48605 15.117C4.37605 14.845 4.12805 14.663 3.84005 14.637L3.69005 14.623C2.51005 14.516 1.62305 13.543 1.62305 12.361V11.639C1.62305 10.456 2.51105 9.485 3.68705 9.377L3.84305 9.363C4.12805 9.338 4.37305 9.156 4.48505 8.89C4.59505 8.62 4.55005 8.317 4.36505 8.095L4.27105 7.979C3.51405 7.071 3.57305 5.756 4.40805 4.919L4.92005 4.407C5.72405 3.603 7.10805 3.542 7.98005 4.267L8.09605 4.365C8.31405 4.549 8.62405 4.595 8.88605 4.487C9.15605 4.375 9.33805 4.129 9.36305 3.844L9.37705 3.691C9.48405 2.511 10.457 1.625 11.639 1.625H12.361C13.544 1.625 14.515 2.513 14.623 3.689L14.637 3.845C14.662 4.13 14.843 4.375 15.109 4.485C15.386 4.602 15.689 4.547 15.903 4.368L16.023 4.266C16.89 3.543 18.277 3.604 19.083 4.406L19.593 4.918C20.429 5.756 20.489 7.071 19.733 7.978L19.633 8.096C19.445 8.316 19.399 8.618 19.51 8.884C19.622 9.154 19.87 9.334 20.156 9.362L20.308 9.376C21.488 9.483 22.375 10.456 22.375 11.638V12.361C22.375 13.544 21.487 14.515 20.311 14.623L20.156 14.637C19.872 14.661 19.626 14.842 19.516 15.107C19.403 15.379 19.449 15.681 19.633 15.902L19.733 16.022C20.489 16.927 20.429 18.242 19.593 19.082L19.083 19.592C18.276 20.396 16.893 20.456 16.023 19.732L15.908 19.636C15.691 19.453 15.378 19.406 15.118 19.514C14.845 19.628 14.663 19.874 14.638 20.16L14.624 20.31C14.517 21.483 13.544 22.37 12.362 22.37L12.36 22.375ZM8.58705 17.955C8.88705 17.955 9.18005 18.015 9.45705 18.13C10.247 18.458 10.781 19.184 10.857 20.026L10.871 20.173C10.908 20.573 11.238 20.873 11.641 20.873H12.363C12.763 20.873 13.093 20.573 13.131 20.173L13.145 20.025C13.221 19.183 13.755 18.458 14.537 18.133C15.33 17.803 16.233 17.951 16.87 18.483L16.983 18.577C17.161 18.725 17.349 18.757 17.476 18.757C17.682 18.757 17.876 18.677 18.022 18.53L18.532 18.02C18.816 17.736 18.837 17.29 18.58 16.982L18.48 16.862C17.938 16.212 17.803 15.322 18.128 14.539C18.454 13.749 19.18 13.219 20.022 13.142L20.177 13.128C20.574 13.091 20.877 12.761 20.877 12.358V11.636C20.877 11.236 20.574 10.906 20.175 10.868L20.023 10.854C19.177 10.776 18.453 10.244 18.128 9.461C17.802 8.673 17.938 7.783 18.481 7.134L18.581 7.016C18.838 6.706 18.817 6.26 18.533 5.976L18.023 5.466C17.877 5.319 17.683 5.239 17.477 5.239C17.35 5.239 17.162 5.271 16.985 5.419L16.865 5.519C16.231 6.047 15.315 6.189 14.543 5.873C13.755 5.546 13.223 4.821 13.146 3.977L13.132 3.822C13.097 3.425 12.767 3.122 12.365 3.122H11.642C11.242 3.122 10.912 3.425 10.874 3.824L10.86 3.976C10.784 4.819 10.252 5.544 9.47005 5.869C8.68305 6.195 7.77705 6.052 7.14005 5.519L7.02205 5.423C6.84205 5.273 6.65405 5.243 6.52705 5.243C6.32105 5.243 6.12705 5.323 5.98105 5.469L5.46905 5.979C5.18705 6.263 5.16605 6.709 5.42305 7.017L5.52305 7.135C6.06305 7.788 6.20005 8.679 5.87505 9.46C5.54805 10.248 4.82305 10.78 3.98005 10.857L3.82405 10.871C3.42705 10.908 3.12405 11.238 3.12405 11.641V12.363C3.12405 12.763 3.42705 13.093 3.82605 13.131L3.97605 13.145C4.82405 13.223 5.54905 13.757 5.87305 14.541C6.19805 15.327 6.06305 16.216 5.52005 16.866L5.42405 16.981C5.16405 17.291 5.18605 17.737 5.47005 18.021L5.98005 18.531C6.12605 18.678 6.32005 18.758 6.52605 18.758C6.65305 18.758 6.84105 18.728 7.01805 18.578L7.13405 18.482C7.54005 18.146 8.05705 17.958 8.58705 17.958V17.955Z"
            fill="black" />
        </svg>
        <span class="left-bar-title ml-3">設定</span>
      </a>
    </div>
    <button class="mt-4 btn btn-lg btn-light btn-block rounded-pill text-white"
      style="background-color: #FF6600;">推文</button>
  </div>
  <div id="logout-button" class="nav-item-wrapper" style="max-width: 210px;">
    <div class="d-flex">
      <a class="text-decoration-none" href="/logout">
        <svg class="left-bar-icon" width="24" height="22" viewBox="0 0 20 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 13L5 9M5 9L9 5M5 9H19M14 13V14C14 14.7956 13.6839 15.5587 13.1213 16.1213C12.5587 16.6839 11.7956 17 11 17H4C3.20435 17 2.44129 16.6839 1.87868 16.1213C1.31607 15.5587 1 14.7956 1 14V4C1 3.20435 1.31607 2.44129 1.87868 1.87868C2.44129 1.31607 3.20435 1 4 1H11C11.7956 1 12.5587 1.31607 13.1213 1.87868C13.6839 2.44129 14 3.20435 14 4V5"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="left-bar-title ml-3">登出</span>
      </a>
    </div>
  </div>
</div>