*                 text=auto

# Source code
*.css             text diff=css
*.html            text diff=html
*.js              text
*.json            text

# Documentation
*.markdown        text diff=markdown
*.md              text diff=markdown
*.txt             text

# Templates
*.handlebars      text
*.hbs             text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.env.*            text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package.json      text eol=lf
package-lock.json text -diff
yarn.lock         text -diff
*.yaml            text
*.yml             text
browserslist      text

# Heroku
Procfile          text

# Graphics
*.gif             binary
*.ico             binary
*.jpg             binary
*.jpeg            binary
*.pdf             binary
*.png             binary
# SVG treated as an asset (binary) by default.
*.svg             text
# If you want to treat it as binary,
# use the following line instead.
# *.svg           binary
*.webp            binary

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text