{{!-- <div class="col-8 row border-left border-bottom p-0 m-0" id="container"> --}}
<div class="col-3 p-0 m-0 h-100" id="user-box">
  <div class="d-flex ml-3" id="status-box">上線的使用者
    <div class="d-none" id="status"></div>
    <div id="online">0</div>
  </div>
  <div class="" id="user-list">
    <ul class="border-top border-bottom" id="users">
    </ul>
  </div>
</div>
<div class="col-6 border-left p-0 m-0 h-100" style="position: relative;" id="chat-box">
  <div class="" id="content">
    <div class="title-wrapper border-bottom">
      <div class="title">
        公開聊天室
      </div>
    </div>
    <ul class="px-3" style="max-height: 685px; overflow: auto;" id="messages">
    </ul>
  </div>
  <div class="py-2" id="send-box">
    <div id="userInfo" style="visibility:hidden;display: none;">{{userLogin.name}}</div>
    <form id="send-form" action="">
      <input id='userId' type="hidden" name="userId" value="{{userLogin.id}}" />
      <input id='userAvatar' type="hidden" name="userAvatar" value="{{userLogin.avatar}}" />
      <input id='userName' type="hidden" name="userName" value="{{userLogin.name}}" />
      <div class="border-top" id="input-and-button">
        <input class="mt-2 mx-2" style="max-width: 90%;" id="m" autocomplete="off"
          placeholder="please type message..." /><button>
          <?xml version="1.0" encoding="iso-8859-1"?>
          <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 488.721 488.721" style="enable-background:new 0 0 488.721 488.721;" width="24"
            height="22" xml:space="preserve">
            <g>
              <g>
                <path d="M483.589,222.024c-5.022-10.369-13.394-18.741-23.762-23.762L73.522,11.331C48.074-0.998,17.451,9.638,5.122,35.086
        			C-1.159,48.052-1.687,63.065,3.669,76.44l67.174,167.902L3.669,412.261c-10.463,26.341,2.409,56.177,28.75,66.639
        			c5.956,2.366,12.303,3.595,18.712,3.624c7.754,0,15.408-1.75,22.391-5.12l386.304-186.982
        			C485.276,278.096,495.915,247.473,483.589,222.024z M58.657,446.633c-8.484,4.107-18.691,0.559-22.798-7.925
        			c-2.093-4.322-2.267-9.326-0.481-13.784l65.399-163.516h340.668L58.657,446.633z M100.778,227.275L35.379,63.759
        			c-2.722-6.518-1.032-14.045,4.215-18.773c5.079-4.949,12.748-6.11,19.063-2.884l382.788,185.173H100.778z" />
              </g>
            </g>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
{{!-- </div> --}}