<div class="col-4 center-column">
  <h1 class="title">上線使用者(<span id="connected-users-count">5</span>)</h1>
  <div class="user-panel px-3">
    <div class="p-1 d-flex align-items-center">
      <img class="user-avatar" src="https://loremflickr.com/140/140/people/?random=7" alt="">
      <span>
        <strong>User1</strong>
        <span>@User1</span>
      </span>
    </div>
    <div class="p-1 d-flex align-items-center">
      <img class="user-avatar" src="https://loremflickr.com/140/140/people/?random=7" alt="">
      <span>
        <strong>User1</strong>
        <span>@User1</span>
      </span>
    </div>
  </div>
</div>
<div class="col-5 right-column">

</div>