{{!-- 中間欄: 上線使用者 --}}
<div class="col-4  col-md-3 no-gutters center-column">
  <div class="title-wrapper px-3 d-flex align-items-center">
    <h1 class="title">上線使用者(<span id="connected-users-count">5</span>)</h1>
  </div>
  <div class="user-panel px-3">

    {{!-- 1個上線使用者 --}}
    <div class="pr-1 py-2 d-flex align-items-center connected-user">
      <img class="user-avatar" src="https://loremflickr.com/140/140/people/?random=7" alt="">
      <span>
        <strong>User1</strong>
        <span class="text-gray">@User1</span>
      </span>
    </div>

  </div>
</div>

{{!-- 右欄: message board --}}
<div class="col-5 col-md-7 right-column no-gutters">
  <div class="title-wrapper px-3 d-flex align-items-center">
    <h1 class="title">公開聊天室</h1>
  </div>
  <div class="message-board">

    {{!-- 使用者上下線訊息 --}}
    <div class="user-status-wrapper d-flex justify-content-center py-2">
      <div class="user-status badge badge-pill bg-gray font-weight-bold text-gray">Kelly 上線</div>
    </div>
    {{!-- 他人發的訊息 --}}
    <div class="message-wrapper d-flex align-items-end px-3 py-2">
      <img class="message-avatar" src="https://loremflickr.com/140/140/people/?random=7" alt="">
      <div class="message flex-grow-1">
        <div class="message-text bg-gray">fvjiowrtmjretjvkljklfdsvnrejdlaojioejunivojfkldklvfmjioeruytuidfjkddjskmvweiou
        </div>
        <div class="message-time text-gray">下午 09:35</div>
      </div>
    </div>

    {{!-- 自己發的訊息 --}}
    <div class="my-message-wrapper d-flex justify-content-end px-3 py-1">
      <div class="message">
        <div class="d-flex justify-content-end">
          <div class="message-text my-message-text">fvjiowrtmjretjvkljklj</div>
        </div>
        <div class="message-time text-right text-gray">下午 09:35</div>
      </div>
    </div>

  </div>
  {{!-- 訊息輸入表單 --}}
  <form action="" class=" message-form">
    <input type="text" name="message" class="message-input flex-grow-1 border-0 rounded-pill bg-gray form-control"
      placeholder="輸入訊息...">
    <button class="btn send-message-btn"><i class="fas fa-location-arrow"></i></button>
  </form>
</div>