<div class="public-chat-room my-3">
  <h2>Public Chat Room</h2>
  <form>
    <input class="form-control mb-3" type="text" name="message">
    <button class="btn btn-primary" type="submit">submit</button>
  </form>

  <div class="row">
    <ul class="list-group board">
      {{!-- render by js --}}
    </ul>
  </div>
</div>

<div class="private-chat-rooms mt-5">
  <h2>Private Messages</h2>
  <form>
    <strong>To: (one of the online users)</strong>
    <div class="form-group">
      <div class="container">
        <div class="row connected-users">
          {{!-- 即時更新在線使用者 --}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">訊息:</label>
      <input class="form-control mb-3" type="text" name="message">
      <button class="btn btn-primary" type="submit">submit</button>
    </div>
  </form>
  <div class="row boards">
    {{!-- render by js --}}
  </div>
</div>