<ul id="messagesBody">
  {{#each data}}
  <li>{{this.dataValues.User.dataValues.name}} : {{this.dataValues.message}}</li>
  {{/each}}
</ul>
<form id="form" action="/api/chat" method="">
  <input id="ChatroomId" type="hidden" name="ChatroomId" autocomplete="off" value="5">
  <input id="message" name="message" autocomplete="off">
  <button type="submit">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('', {
    extraHeaders: {
      Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTUsImlhdCI6MTYyNjU4MDM2N30.lefe3xZsrcy8RSHD68vppNg21lZmO86jBPDeZzEcgeo'
    }
  });

  const messages = document.querySelector('#messagesBody');
  const form = document.querySelector('#form');
  const input = document.querySelector('#message');
  const ChatroomId = document.querySelector('#ChatroomId');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chatMessage', input.value);
      input.value = '';
    }
  });
  let socketId = socket.id
  let data = { UserId: 25, name: '蚯蚓', ChatroomId: 5, socketId: socketId }
  socket.emit('user', (data))

  socket.on('chatMessage', (msg) => {
    const item = document.createElement('li');
    item.textContent = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  })


</script>