<ul id="messagesBody">
  {{#each data}}
  <li>{{this.dataValues.User.dataValues.name}} : {{this.dataValues.message}}</li>
  {{/each}}
</ul>
<form id="form" action="/api/chat" method="">
  <input id="ChatroomId" type="hidden" name="ChatroomId" autocomplete="off" value="5">
  <input id="message" name="message" autocomplete="off">
  <button type="submit">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('', {
    extraHeaders: {
      Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MzUsImlhdCI6MTYyNjYxMzI2NX0.IGu51MO1ovCvPTTHWve33RoEmGcursc0Lln1QaHNut0'
    }
  });

  const messages = document.querySelector('#messagesBody');
  const form = document.querySelector('#form');
  const input = document.querySelector('#message');
  const ChatroomId = document.querySelector('#ChatroomId');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chatMessage', input.value);
      input.value = '';
    }
  });

  socket.on('chatMessage', (msg, data) => {
    const item = document.createElement('li');
    item.innerHTML = `${data.name} : ${msg}`;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  })
  socket.on('leaveRoom', (msg) => {
    const item = document.createElement('li');
    item.innerHTML = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  })
  socket.on('joinRoom', (msg) => {
    const item = document.createElement('li');
    item.innerHTML = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  })
  socket.on('totalUser', (data) => {
    console.log(data)
  })

</script>