<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
  <style>
    body {
      margin: 0;
      padding-bottom: 3rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #form {
      background: rgba(0, 0, 0, 0.15);
      padding: 0.25rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      height: 3rem;
      box-sizing: border-box;
      backdrop-filter: blur(10px);
    }

    #input {
      border: none;
      padding: 0 1rem;
      flex-grow: 1;
      border-radius: 2rem;
      margin: 0.25rem;
    }

    #input:focus {
      outline: none;
    }

    #form>button {
      background: #333;
      border: none;
      padding: 0 1rem;
      margin: 0.25rem;
      border-radius: 3px;
      outline: none;
      color: #fff;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages>li {
      padding: 0.5rem 1rem;
    }

    #messages>li:nth-child(odd) {
      background: #efefef;
    }
  </style>
</head>

<body>
  <h2>私人聊天室</h2>
  <button id="offline">離開私人聊天室</button>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" name="message" autocomplete="off" /><button>Send</button>
  </form>
</body>

</html>

<script>
  const messages = document.getElementById('messages');
  const form = document.getElementById('form');
  const input = document.getElementById('input');
  const offline = document.getElementById('offline');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('private message', input.value);
      input.value = '';
    }
  })
  offline.addEventListener('click', () => {
    socket.emit('leave room')
  })

  socket.emit('join private page')
  socket.emit('join room', 11)

  socket.on('chat member list', list => {
    console.log('所有私人房間')
    console.log(list)
  })

  socket.on('join room success', roomId => {

    console.log(`房間：${roomId}`)

    socket.on('updated message', (obj) => {
      console.log('傳送者發來的訊息')
      console.log(obj)
      displayMessage(obj.message)
      window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('history', msg => {
      console.log('歷史訊息')
      console.log(msg)
    })
  })



  function displayMessage(msg) {
    const item = document.createElement('li');
    item.innerHTML = msg
    messages.appendChild(item)
  }
</script>