<div class="sign-in-wrapper">
  <div class="ac-logo">
    <div class="logo-image">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M25.6996 18.4709C25.6996 18.4709 18.2328 30.5781 12.1109 30.5781C1.40314 30.5781 11.3821 7.51318 19.1916 7.51318C24.641 7.51318 25.6996 18.4709 25.6996 18.4709Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M34.5723 33.6972C32.4451 35.9607 29.8198 37.6976 26.9044 38.7701C23.989 39.8426 20.8639 40.2213 17.7767 39.8761C14.6895 39.5309 11.7252 38.4713 9.11881 36.7813C6.51245 35.0914 4.33573 32.8175 2.76123 30.1401C4.5314 32.5477 7.53375 34.1527 11.803 34.1527C22.3199 34.1527 28.2899 25.98 28.2899 25.98C28.2899 25.98 28.8062 32.4392 34.5593 33.6972H34.5723Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M37.7223 10.7451C39.2963 13.7527 40.0781 17.1116 39.9939 20.505C39.9096 23.8984 38.9621 27.2144 37.2407 30.1401C35.8792 29.3764 34.8725 28.1082 34.4379 26.609L32.1558 19.7724L37.7223 10.7451Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.0031 0.0173688C25.0185 0.0140335 29.8513 1.89881 33.5398 5.29665L29.7521 11.4088C28.3811 7.84302 25.5957 4.2729 20.1767 4.2729C9.07841 4.2729 0.852307 16.3888 0.852307 23.9846C0.849861 24.9669 0.975283 25.9454 1.22543 26.8953C0.115582 23.8725 -0.247948 20.6265 0.165719 17.4331C0.579385 14.2398 1.75802 11.1934 3.60147 8.55306C5.44491 5.91269 7.89866 3.75634 10.7542 2.26726C13.6097 0.778179 16.7826 0.000388507 20.0031 0V0.0173688Z"
          fill="#FF6600" />
      </svg>
    </div>
    <div class="title">登入 Alphitter Chat</div>
  </div>
  <form id="sign-in-form">
    <div class="input-container">
      <div class="input-title">帳號</div>
      <label for="Email" class="form-label"></label>
      <input v-model="email" type="email" class="form-control" name="email" required autofocus
        aria-describedby="emailHelp" />
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="input-container">
      <div class="input-title">密碼</div>

      <label for="password" class="form-label" aria-placeholder="密碼"></label>
      <input v-model="password" name="password" type="password" class="form-control" id="exampleInputPassword1"
        required />
    </div>
    <button type="submit" class="btn btn btn-submit" id="btn-submit">
      登入
    </button>
  </form>
  <div class="pages-link">
    <a href="https://sean-yu-pohsiang.github.io/simple-twitter-frontend-2020/#/signin" class="link" to="/admin/signin">
      登入 Alphitter</a>
  </div>
</div>