<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Sign In</h1>
</div>
<form class="form-signin" action="/api/signin" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email" required
      autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" id="password" type="password" name="password" class="form-control"
      placeholder="Password" required>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>
<div class="mb-4 text-center">
  <p><a href="/signup">Sign Up</a></p>
</div>