
{{#each tweets}}

    <div>
        <div>
            {{this.UserId}}
        </div>
        <div>
            {{this.description}}
        </div>
        <div>
            {{this.createdAt}}
        </div>
    </div>
    <br>

{{/each}}