    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      min-height: 100%;
    }

    html, body {
      margin: 0; 
      height: 100%; 
      overflow: hidden
    }

    body {
      font: 13px Helvetica, Arial;
      background-color: #ffffff;
    }

    #left-bar a {
      color: #1C1C1C;
      font-weight: bolder;
    }

    #left-bar a:hover .left-bar-icon  {
      fill: #FF6600;
    }     
    
    #left-bar a:hover .left-bar-title {
      color: #FF6600;
    }     

    .item-active {
      color: #FF6600;
      fill:#FF6600;
    }

    /* #container:after {
      content: ”;
display: block;
clear: both;
    } */

    #user-title {
      text-align: left;
      font-size: 1.6em;
    }

    #user-list {
      background-color: #ffffff;
/*       background-color: rgb(243, 242, 237);
      width: 300px;
      height: 600px;
      border: 1px solid darkolivegreen;
      border-radius: 5px; */
      overflow: auto;
    }

    #users li {
      height: 55px;
/*       height: 70px;
      border: 1px solid rgba(219, 219, 219, 0.863);
      border-radius: 5px; */
      display: flex;
      align-items: center;
    }

    #users li img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 4px;
    }

    #users li strong {
      margin: 4px;
      font-size: 14px;
    }

    #user-account {
      color: rgba(160, 158, 158, 0.815);
    }

    #status-box, .title {
      font-size: 1rem;
      font-weight: bolder;
      line-height: 3rem;
    }

/*     #chat-box form button {
      width: 9%;
      background: #f39a34;
      border: 2px outset;
      border-radius: 5px;
      padding: 10px 1px 10px 1px;
      cursor: pointer;
      text-align: center;
         fill: #FF6600;
      background: none;
      border: none;
      cursor: pointer;
      text-align: center;
    } */

    

    button:focus, #text-input-area:focus { 
      outline: none; 
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
      display: flex;
      align-items: center;
    }

    #messages li div {
      margin-left: 5px;
    }

    #messages li div p {
      width: 430px;
      word-wrap: break-word;
      word-break: normal;
    }

    #time {
      font-size: 10px;
      color: rgba(160, 158, 158, 0.815);
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }

    #messages {
      margin-bottom: 40px;
    }

    #messages li img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      margin: 4px;
    }

    .wrong {
      animation-name: wrongAnimation;
      animation-duration: 0.2s;
      animation-iteration-count: 5;
    }

    #online {
      color: rgb(93, 177, 111);
    }

    .connected {
      color: rgb(93, 177, 111);
    }

    .disconnected {
      color: rgb(143, 40, 40);
    }

    .nav-item-wrapper {
      position: relative;
    }

    .badge {
      position: absolute;
      left: 6%;
      top: -7%;
    }
    
    #left-bar {
      position: relative;
    }

    #logout-button {
      position: fixed;
      bottom: 0%;
      background-color:#ffffff;
      width: 100%;
      padding-bottom: 1.1rem;
    }

    #chat-box {
      position: relative;;
    }

    #text-input-area {
      border: none;
    }

    form button {
      width: 5%;
      background: none;
      cursor: pointer;
      fill: #FF6600;
      border: none;
      margin: auto 0;
    }

    #input-and-button {
      position: absolute;
      bottom: 1.5%;   
      /* max-width: 50%; */
      padding-top: -0.1;
      background-color:#ffffff;
    }

    #users, #messages {
      max-height: 80%;
      overflow: auto;
    }

    #users{
      position: absolute;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      max-height: 94%;
    }

    #messages{
      position: absolute;
      top: 10%;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      max-height: 80%;
    }

    @keyframes wrongAnimation {
      to {
        border: 2px solid #f39a34;
        border-radius: 5px;
      }
    }