swagger: "2.0"
info:
  description: "This is a sample server Simple Twitter server."
  version: "1.0.0"
  title: "Simple Twitter"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "chiachingyang02@gmail.com"
host: "heroku.com"
basePath: "/"
tags:
- name: "admin"
  description: "Operations about admin"
- name: "user"
  description: "Operations about user"
- name: "followship"
  description: "Users' following interaction"
- name: "tweet"
  description: "Acess to tweets on database"
schemes:
- "https"
- "http"
paths:
  /admin/tweets:
    get:
      tags: 
      - "admin"
      summary: "取得所有貼文"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/Tweet"
        "401":
          description: "Unauthorized"
  /admin/tweets/{tweetId}:
    delete:
      tags:
      - "admin"
      summary: "管理者權限刪除貼文"
      description: ""
      produces:
      - "appliction/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Delete successfully"
        "400":
          description: "Invalid ID supplied"
  /admin/users:
    get:
      tags: 
      - "admin"
      summary: "取得所有使用者以及相關的社群活躍數據"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AdminUsers"
  /admin/signin:
    post:
      tags: 
      - "admin"
      summary: "後台登入"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "fail"
  /signin:
    post:
      tags: 
      - "user"
      summary: "前台登入"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: ""
  /users:
    post:
      tags: 
      - "user"
      summary: "前台註冊"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successfully signup"
    get:
      tags:
      - "user"
      summary: "取得推薦用戶列表"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "currentIndex"
        in: "query"
        description: "選取當前使用者 index 位置"
        required: true
        type: "integer"
        format: "int64"
      - name: "accumlatedNum"
        in: "query"
        description: "增加使用者數量"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/User"
  /users/{userId}:
    get:
      tags:
      - "user"
      summary: "取得使用者個人資訊"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
    put:
      tags:
      - "user"
      summary: "更新使用者個人資訊"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "User object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/User"  
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "Invalid ID supplied"
        "405":
          description: "Validation exception"
  /users/{userId}/tweets:
    get:
      tags:
      - "user"
      summary: "取得使用者推文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/TweetsFromUser"
  /users/{userId}/likes:
    get:
      tags:
      - "user"
      summary: "取得使用者喜歡的貼文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/TweetsFromUser"  
  /users/{userId}/followers:
    get:
      tags:
      - "user"
      summary: "取得使用者的追隨者"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/User"  
  /users/{userId}/followings:
    get:
      tags:
      - "user"
      summary: "取得使用者正在追蹤的人"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/User"  
  /users/{userId}/replied_tweets:
    get:
      tags:
      - "user"
      summary: "取得使用者回覆過的所有貼文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "path"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/Reply"  
  /followships/{followingId}:
    delete:
      tags:
      - "followship"
      summary: "取消追蹤某位使用者"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "followingId"
        in: "path"
        description: "ID of following users to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
            
  /followships:
    post:
      tags:
      - "followship"
      summary: "點擊追蹤某位使用者"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "followersId"
        in: "query"
        description: "ID of user to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
           
  /tweets:
    get:
      tags: 
      - "tweet"
      summary: "首頁取得最新貼文"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/TweetsFromUser"
    post:
      tags: 
      - "tweet"
      summary: "使用者發布一則新貼文"
      description: ""
      produces:
      - "application/json"
      responses:
        "200":
          description: "successful operation"
  /tweets/{tweetId}:
    get:
      tags:
      - "tweet"
      summary: "單一貼文詳細資訊"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/TweetsFromUser"  
  /tweets/{tweetId}/replies:
    post:
      tags:
      - "tweet"
      summary: "回覆其他使用者貼文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
    get:
      tags:
      - "tweet"
      summary: "取得該則貼文的回覆內容"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/Reply"
  /tweets/{tweetId}/like:
    post:
      tags:
      - "tweet"
      summary: "使用者喜歡某則貼文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
  /tweets/{tweetId}/unlike:
    post:
      tags:
      - "tweet"
      summary: "使用者取消喜歡某則貼文"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "tweetId"
        in: "path"
        description: "ID of tweet to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"

definitions:
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      account:
        type: "string"
        example: "user1"
      name:
        type: "string"
        example: "user1"
      email:
        type: "string"
        format: "email"
      password:
        type: "string"
        format: "password"
      introduction:
        type: "string"
      cover: 
        type: "string"
      avatar:
        type: "string"
      role:
        type: "string"
        example: "admin"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
  Tweet:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      userId:
        type: "integer"
        format: "int64"
      description:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
  Reply:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      userId:
        type: "integer"
        format: "int64"
      tweetId:
        type: "integer"
        format: "int64"
      comment:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      user:
        $ref: "#/definitions/User"
  Followship:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      followingId:
        type: "integer"
        format: "int64"
      followerId:
        type: "integer"
        format: "int64"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
  Like:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      userId:
        type: "integer"
        format: "int64"
      tweetId:
        type: "integer"
        format: "int64"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
  AdminUsers:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      account:
        type: "string"
        example: "user1"
      name:
        type: "string"
        example: "user1"
      email:
        type: "string"
        format: "email"
      password:
        type: "string"
        format: "password"
      description:
        type: "string"
      coverImg: 
        type: "string"
      avatarImg:
        type: "string"
      power:
        type: "integer"
        format: "int32"
        example: 1
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      tweetsCount:
        type: "integer"
        format: "int32"
      followingsCount:
        type: "integer"
        format: "int32"
      followiersCount:
        type: "integer"
        format: "int32"
      likesCount:
        type: "integer"
        format: "int32"
  TweetsFromUser:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      userId:
        type: "integer"
        format: "int64"
      content:
        type: "string"
      createdAt:
        type: "string"
        format: "date-time"
      updatedAt:
        type: "string"
        format: "date-time"
      repliesCount:
        type: "integer"
      likesCount:
        type: "integer"
      user:
        $ref: "#/definitions/User"  

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"